body {
  margin: 0;
  background: #04071e;
  font-family: "Shadows Into Light", cursive;
}

.canvas-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(250, 231, 200);
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 15vw;
  flex-wrap: wrap;
}

#restart,
#home,
#pause,
#play {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 400ms ease-in-out;
  text-transform: uppercase;
}

#start-game {
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  background: rgb(52, 235, 110);
  box-shadow: 2px 3px black;
  transition: background-color 400ms ease-in-out;
  margin-top: 50px;
}

.loading-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* bottom: 20%; */
  height: 80%;
  top: 5%;
}

#start-game:hover,
#restart:hover,
#home:hover,
#pause:hover,
#play:hover {
  background: rgb(38, 150, 73);
}

.next-level {
  cursor: pointer;
  position: absolute;
  background: rgb(52, 235, 110);
  box-shadow: 2px 3px black;
  border: 1px solid black;
  border-radius: 50px;
  bottom: 50%;
}

.next-level span {
  font-size: 30px;
  margin: 30px;
  text-transform: uppercase;
}

.bio-icons {
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

.bio-icons div {
  margin: 10px;
}

.fa-github,
.fa-linkedin {
  color: white;
  transition: color 400ms ease-in-out;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: rgb(52, 235, 110);
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
  background: rgb(250, 231, 200);
  border-radius: 5px;
  width: 15vw;
  flex-wrap: wrap;
}

.instructions h1 {
  margin: 0;
}

.hide {
  display: none;
}

.main-controls {
  display: flex;
}

.instructions-info {
  font-size: 17px;
}

.wasd {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  background: rgb(191, 191, 191);
  margin: 2px;
}

.play-btn {
  margin: 0px 80px 0 80px;
  font-size: 30px;
}

.canvas-container {
  display: flex;
  align-items: center;
}

.title {
  font-family: "Kaushan Script", cursive;
  color: rgb(250, 231, 200);
  font-size: 45px;
  letter-spacing: 0.06rem;
}

header {
  display: flex;
  justify-content: center;
}

.btn-container div {
  background: rgb(52, 235, 110);
  box-shadow: 2px 3px black;
  border: 1px solid black;
  border-radius: 50px;
  margin: 10px;
}

#toolbar span {
  font-size: 20px;
  margin: 0 20px;
  letter-spacing: 0.06rem;
}

.subtitle {
  display: flex;
  align-items: center;
}

.subtitle h2 {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.js-logo {
  margin: 10px
}

.js-logo img{
  height: 25px;
  width: auto;
}

.demo-images {
  display: flex;
}

.img-1, .img-2 {
  width: 15vw;
  height: 12vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  margin: 10px;
}

.img-2 {
  background-image: url(./demo/splash-2.png);
}

.img-1 {
  background-image: url(./demo/splash-1.png);
}