body {
  margin: 0;
  background: #04071e;
  font-family: "Shadows Into Light", cursive;
}

.canvas-div {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#toolbar {
  display: flex;
}

#toolbar div {
  margin: 5px;
}

.fa-pause-circle,
.fa-play-circle,
.fa-home {
  cursor: pointer;
  color: rgb(189, 235, 240);
  font-size: 40px;
  transition: color 400ms ease-in-out;
}

.fa-pause-circle:hover,
.fa-play-circle:hover,
.fa-home:hover {
  color: white;
}

#restart,
#next-level,
#home {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(189, 235, 240);
  border: 3px solid rgb(189, 235, 240);
  border-radius: 5px;
  transition: color 400ms ease-in-out;
  text-transform: uppercase;
}

#restart span {
  font-size: 20px;
  padding: 0 5px 0 5px;
}

#restart:hover,
#next-level:hover,
#home:hover {
  color: white;
  border: 3px solid white;
}

#start-game {
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  background: rgb(52, 235, 110);
  box-shadow: 2px 3px black;
  transition: background-color 400ms ease-in-out;
}

.loading-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start-game:hover {
  background: rgb(38, 150, 73);
}

.loading-screen span {
  font-size: 30px;
  margin: 30px;
  text-transform: uppercase;
}

.next-level {
  cursor: pointer;
  position: absolute;
  background: rgb(52, 235, 110);
  box-shadow: 2px 3px black;
  border: 1px solid black;
  border-radius: 50px;
}

.next-level span {
  font-size: 30px;
  margin: 30px;
  text-transform: uppercase;
}

.bio-icons {
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

.bio-icons div {
  margin: 10px;
}

.fa-github,
.fa-linkedin {
  color: white;
  transition: color 400ms ease-in-out;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: rgb(52, 235, 110);
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  background: rgb(189, 235, 240);
  border-radius: 5px;
}

.instructions h1 {
  margin: 0;
}

.instructions span {
  margin: 0;
  font-size: 25px;
}

.hide {
  display: none;
}
